.cm-editor .cm-scroller .cm-content .cm-line {
  line-height: 1.3;
  margin: 0;
  padding: 0;
  white-space: normal; 
}

.cm-markdown-inline {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.cm-markdown-inline h1,
.cm-markdown-inline h2,
.cm-markdown-inline h3,
.cm-markdown-inline h4,
.cm-markdown-inline h5,
.cm-markdown-inline h6 {
  display: inline;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.cm-markdown-inline h1 { font-size: 1.4rem; }
.cm-markdown-inline h2 { font-size: 1.3rem; }
.cm-markdown-inline h3 { font-size: 1.2rem; }
.cm-markdown-inline h4 { font-size: 1.15rem; }
.cm-markdown-inline h5 { font-size: 1.1rem; }
.cm-markdown-inline h6 { font-size: 1.05rem; }


.cm-markdown-inline blockquote {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 1rem;
  line-height: 1.3;
  border-left: 3px solid #cccccc; 
  color: #555555;
}
.cm-markdown-inline blockquote p {
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

.cm-markdown-inline ul,
.cm-markdown-inline ol {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  padding: 0;
  line-height: 1.3;
  list-style-position: inside; 
}

.cm-markdown-inline ul {
  list-style-type: disc;
}

.cm-markdown-inline li {
  display: list-item;
  vertical-align: middle;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}
