* text=auto eol=lf
docs/content/** linguist-documentation
docs/ linguist-detectable
packages/ linguist-detectable
python/ linguist-detectable
*.md linguist-detectable=true
*.md linguist-documentation=false
*.md linguist-language=Markdown
*.markdown linguist-detectable=true
*.markdown linguist-documentation=false
*.markdown linguist-language=Markdown
