@use "./base.scss";
@use "./variables.scss" as *;
@use "./links.scss" as *;

@font-face {
  font-family: "Berkeley Mono";
  font-style: monospace;
  font-weight: normal;
  font-display: swap;
  src:
    url("/static/BerkeleyMono-Regular.woff2") format("woff2"),
    url("/static/BerkeleyMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "ITCGaramondStdLtCond";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/ITCGaramondStdLtCond.woff2") format("woff2");
}

@font-face {
  font-family: "GT Sectra Display";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Book";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Book.woff") format("woff");
}

@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/Cardo-Regular.ttf") format("truetype");
}

[role="article"]:hover {
  border: 1px solid var(--highlight);
  background: var(--highlight);
  border-radius: 5px;
}

html {
  scroll-behavior: smooth;
}

.article-title {
  font-family: "ITCGaramondStdLtCond", var(--headerFont) !important;
  font-size: 2.8125rem !important;
  line-height: 2.8125rem !important;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

// golden ditonic scale
h1 {
  font-size: 2.0582rem;
  font-weight: normal;
}
h2 {
  font-size: 1.618rem;
}
h3 {
  font-size: 1.272rem;
}

.breadcrumb-container {
  gap: 0.25rem;
  border-bottom: 1px solid var(--darkgray);
  margin: 0;
  padding: 0.5rem 0 0.5rem;
}

.reflection-container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;

  & > .users {
    padding: 0 1.5rem 0 1.5rem;
    display: block;
    flex-direction: column;
    margin-bottom: -0.25rem;

    & > .name {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: var(--light);
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      z-index: 10;
      position: relative;
    }
  }

  & > .blob {
    background-color: var(--light);
    border: 2px solid;
    position: relative;
    padding: 1.5rem;

    &::after {
      content: "";
      background-image: url("/static/dotted.svg");
      background-repeat: repeat;
      z-index: -10;
      top: 0.5rem;
      left: 0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      position: absolute;
    }
  }
}

.center {
  padding: 1rem 2rem;
  margin: $topSpacing auto;
  border: 1px solid var(--darkgray);

  @media all and (max-width: $fullPageWidth) {
    margin: 2rem auto 0;
  }
}

.page {
  & .page-header {
    margin: 0 auto !important;
  }
}

#graph-container {
  background-color: var(--light);
}

.popover > .popover-inner,
.graph > .graph-outer {
  border-radius: unset;
  border-color: var(--gray);
}

article > a.internal:not([role="anchor"]) {
  border-radius: unset;
  background-color: unset;

  @include links;
  &::before {
    content: "";
  }
}

a {
  &.internal {
    background-color: unset;
  }

  &.internal.tag-link {
    border-radius: unset;
    background-color: unset;

    @include links;
    &::before {
      content: "";
    }
  }

  @media all and (min-width: $fullPageWidth) {
    &.internal.alias:not(.popover):not(.popover *) {
      @include links;
    }
  }
}

section[data-footnotes] {
  background-color: unset !important;
}

#preview-container {
  flex-grow: 1;
}

.katex {
  font:
    normal 1em KaTeX_Main,
    var(--bodyFont),
    serif !important;
}

code {
  font-size: 0.8em;
}

body[data-slug="index"] img {
  filter: invert(0%);
  opacity: 0.85;
}

body {
  background-image: url("/static/bg.webp");
  position: relative;
  min-height: 100vh;
  margin: 0;
}

[saved-theme="dark"] body {
  background-image: none;
}

.csl-entry {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

#refs {
  border-left: unset;
  border: 2px solid var(--secondary);
  position: relative;

  &::before {
    content: "References";
    position: absolute;
    top: -12px;
    left: 12px;
    background-color: var(--light);
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid var(--secondary);
  }
}

.left {
  display: grid !important;
  gap: 1.5rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  align-items: center;

  .page-title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .search {
    grid-area: 2 / 1 / 3 / 2;
  }

  .darkmode {
    grid-area: 2 / 2 / 3 / 3;
  }

  .explorer {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 4 / 1 / 4 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;
  }
}

.content-meta {
  margin-top: 0.5rem;
  color: var(--gray);
  display: flex;
  flex-flow: wrap;
  cursor: pointer;

  padding-inline-start: 0;
  list-style: none;
  gap: 0.8rem;

  pre {
    color: var(--darkgray);
  }

  .ref-source {
    font-style: inherit;
    font-weight: inherit;
    color: var(--gray);
    transition: none;

    @include links;
  }
}

hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 4em auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}

p.quotes {
  padding-top: 1rem;
  padding-left: 3rem;
  margin: inherit;

  &:before,
  &:after {
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  &:before {
    content: "“";
    margin-right: 0.25em;
  }

  &:after {
    content: "”";
    margin-left: 0.25em;
  }
}
