@use "sass:map";
@use "./base.scss";
@use "./variables.scss" as *;
@use "./links.scss" as *;
@use "./fonts.scss" as *;

html {
  scroll-behavior: smooth;
}

.article-title {
  font-family: "ITCGaramondStdLtCond", var(--headerFont) !important;
  font-size: 2.8125rem !important;
  line-height: 2.8125rem !important;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

// golden ditonic scale
h1 {
  font-size: 2.0582rem;
  font-weight: normal;
}
h2 {
  font-size: 1.618rem;
}
h3 {
  font-size: 1.272rem;
}

tr {
  border-bottom: 1px solid var(--darkgray);
}

.page {
  & > #quartz-body {
    @media all and (min-width: calc(#{map.get($breakpoints, desktop)})) {
      grid-template-columns: #{map.get($tabletGrid, templateColumns)};
      grid-template-rows: #{map.get($tabletGrid, templateRows)};
      column-gap: #{map.get($tabletGrid, columnGap)};
      row-gap: #{map.get($tabletGrid, rowGap)};
      grid-template-areas: #{map.get($tabletGrid, templateAreas)};
    }

    & .sidebar.right {
      display: grid !important;
      gap: 1.1rem !important;
      padding: 0 !important;
      grid-template-rows: min-content;
      margin-top: 3rem !important;
      height: unset !important;

      & > .graph {
        grid-area: 1 / 1 / 1 / 1;
        max-width: 22rem;

        @media all and ($mobile) {
          grid-area: 1 / 1 / 2 / 2;
        }
      }

      & > .backlinks {
        grid-area: 1 / 2 / 2 / 2;

        @media all and ($mobile) {
          grid-area: 2 / 1 / 2 / 2;
        }
      }
    }
  }
}

.breadcrumb-container {
  gap: 0.25rem;
  border-bottom: 1px solid var(--darkgray);
  margin: 0;
  padding: 0.5rem 0 0.5rem;
}

.reflection-container {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;

  & > .users {
    padding: 0 1.5rem 0 1.5rem;
    display: block;
    flex-direction: column;
    margin-bottom: -0.25rem;

    & > .name {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      background-color: var(--light);
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      z-index: 10;
      position: relative;
    }
  }

  & > .blob {
    background-color: var(--light);
    border: 2px solid;
    position: relative;
    padding: 1.5rem;

    @include steps;
  }
}

.left {
  @media all and ($mobile) {
    justify-content: space-between;
  }
}

.center {
  margin: $topSpacing auto 0;
  border: 1px solid var(--darkgray);

  & > *:not(hr) {
    padding: 0 2rem;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }
  }

  @media all and ($mobile) {
    margin-top: 2rem;

    & > .page-header {
      padding: 1rem 2rem !important;
    }
  }
}

.page {
  & .page-header {
    margin: 0 auto !important;
  }
}

#graph-container {
  background-color: var(--light);
}

.popover > .popover-inner,
.graph > .graph-outer {
  border-radius: unset;
  border-color: var(--gray);
}

article > a.internal:not([role="anchor"]),
blockquote.twitter-tweet > a {
  border-radius: unset;
  background-color: unset;

  @include links;
  &::before {
    content: "";
  }
}

a {
  &.internal {
    @include links;

    & {
      background-color: unset;
      background-image: linear-gradient(
        var(--link-underline-gradient-line-color),
        var(--link-underline-background-image)
      );
      background-size: 2px 1px;

      &:not(.alias) {
        & > .indicator-hook {
          display: none;
        }
      }
    }
  }

  &.internal.tag-link {
    border-radius: unset;
    background-color: unset;

    position: relative;
    padding-left: 0.3em;

    @include links;
    @include indicatorHook;
  }

  &.internal.alias {
    @include links;
  }
}

.callout {
  border-radius: unset;
  overflow-y: unset;
}

.callout[data-callout-fold] {
  overflow-y: hidden;
}

#preview-container {
  flex-grow: 1;
}

.katex {
  font:
    normal 1.2em KaTeX_Main,
    var(--bodyFont),
    serif !important;
}

code {
  font-size: 0.8em;
  background-color: var(--light);
}

body[data-slug="index"] img {
  filter: invert(0%);
  opacity: 0.85;
}

body {
  background-image: url("/static/bg.webp");
  position: relative;
  min-height: 100vh;
  margin: 0;
}

[saved-theme="dark"] body {
  background-image: none;
}

body[data-slug="HazardAnalysis/HazardAnalysis"] {
  h3[id^="152-integrity-requirements"],
  h3[id^="154-audit-requirements"],
  h3[id^="155-immunity-requirements"],
  h3[id^="153-privacy-requirements"] {
    display: none;
  }
}

.csl-entry {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

#refs {
  border-left: unset;
  border: 2px solid var(--secondary);
  position: relative;

  &::before {
    content: "References";
    position: absolute;
    top: -12px;
    left: 12px;
    background-color: var(--light);
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid var(--secondary);
  }
}

.content-meta {
  margin-top: 0.5rem;
  color: var(--gray);
  display: flex;
  flex-flow: wrap;
  cursor: pointer;

  padding-inline-start: 0;
  list-style: none;
  gap: 0.8rem;

  pre {
    color: var(--darkgray);
  }

  .ref-source {
    font-style: inherit;
    font-weight: inherit;
    color: var(--gray);
    transition: none;

    @include links;
  }
}

hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 4em auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "* * *";
    display: inline-block;
    margin: -1em 0 0.5em;
    font-size: 1.5em;
    padding: 0.5em 1em;
    color: var(--gray);
  }
}

audio::-webkit-media-controls-panel {
  background-color: var(--lightgray);
}

p.quotes {
  padding-left: 3rem;
  margin: inherit;

  &:before,
  &:after {
    font-size: 2em;
    line-height: 0.1em;
    vertical-align: -0.4em;
  }

  &:before {
    content: "“";
    margin-right: 0.25em;
  }

  &:after {
    content: "”";
    margin-left: 0.25em;
  }
}

blockquote.twitter-tweet {
  border-left: unset;
  border: 2px solid var(--tertiary);
  padding-bottom: 1rem;
  position: relative;
  background-color: var(--light);

  &::before {
    content: "x.com";
    position: absolute;
    top: -12px;
    left: 12px;
    background-color: var(--light);
    color: var(--gray);
    font-size: 12px;
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid var(--dark);
  }

  @include steps;
}

section[data-footnotes] {
  background-color: var(--light);
  border: 2px solid var(--tertiary);
  position: relative;

  & > * {
    margin: 0 1.25rem;
  }

  // disable footnotes headers
  & > #footnote-label.sr-only {
    margin-top: 1rem;
  }

  & > ol {
    margin-bottom: 2rem;
  }

  @include steps;
}
