@font-face {
  font-family: "Berkeley Mono";
  font-style: monospace;
  font-weight: normal;
  font-display: swap;
  src:
    url("/static/BerkeleyMono-Regular.woff2") format("woff2"),
    url("/static/BerkeleyMono-Regular.woff") format("woff");
}

@font-face {
  font-family: "ITCGaramondStdLtCond";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/ITCGaramondStdLtCond.woff2") format("woff2");
}

@font-face {
  font-family: "GT Sectra Display";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "GT Sectra Book";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/GT-Sectra-Book.woff") format("woff");
}

@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/static/Cardo-Regular.ttf") format("truetype");
}

[role="article"]:hover {
  border: 1px solid var(--highlight);
  background: var(--highlight);
  border-radius: 5px;
}
