@mixin indicatorHook {
  &::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 1px;
    height: 100%;
    color: inherit;
    background-image: linear-gradient(
        var(--link-underline-background-color),
        var(--link-underline-background-color)
      ),
      linear-gradient(
        var(--link-underline-background-color),
        var(--link-underline-background-color)
      ),
      linear-gradient(
        var(--link-underline-gradient-line-color),
        var(--link-underline-gradient-line-color)
      );
    background-size:
      1px 0.6em,
      1px 0.1em,
      1px 1em;
    background-position:
      0 0,
      0 100%,
      0 calc(100% - 0.1em);
    background-repeat: no-repeat;
  }
}

@mixin links {
  // See https://github.com/gwern/gwern.net/blob/9250d886d5470ca434be94f7189af76446ec5ccc/css/initial.css#L1771
  --link-underline-background-color: var(--light);
  --link-underline-gradient-line-color: currentColor;

  background-image: linear-gradient(
    var(--link-underline-gradient-line-color),
    var(--link-underline-gradient-line-color)
  );
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% calc(100% - 0.1em);
  font-variant-numeric: lining-nums;

  text-shadow:
    0 0.05em var(--link-underline-background-color),
    0.05em 0.05em var(--link-underline-background-color),
    -0.05em 0.05em var(--link-underline-background-color),
    0.17em 0.05em var(--link-underline-background-color),
    -0.17em 0.05em var(--link-underline-background-color),
    0.17em 0 var(--link-underline-background-color),
    -0.17em 0 var(--link-underline-background-color);

  & > .indicator-hook {
    position: relative;
    padding-left: 0.3em;

    @include indicatorHook;
  }
}

@mixin steps {
  &::after {
    content: "";
    background-image: url("/static/dotted.svg");
    background-repeat: repeat;
    z-index: -10;
    top: 0.5rem;
    left: 0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    position: absolute;
  }
}
