.author {
  list-style: none;
  display: flex;
  padding-left: 0;
  gap: 0.4rem;
  margin: 1rem 0;
  flex-wrap: wrap;
  justify-self: end;
}

.author > li {
  white-space: nowrap;
  margin: 0;
  overflow-wrap: normal;
}

.avatar {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  align-self: baseline;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0.2rem;
  margin: 0.2rem;
  width: fit-content;
  overflow: hidden;
  color: var(--darkgray);

  font-style: inherit;
  font-weight: inherit;
  transition: none;

  margin: 0 0.08em;
  padding-left: 0.3em;
  position: relative;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% calc(100% - 0.1em);

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 1px;
    height: 100%;
    color: inherit;
    background-image: linear-gradient(var(--light), var(--light)),
      linear-gradient(var(--light), var(--light)), linear-gradient(currentColor, currentColor);
    background-size:
      1px 0.6em,
      1px 0.1em,
      1px 1em;
    background-position:
      0 0,
      0 100%,
      0 calc(100% - 0.1em);
    background-repeat: no-repeat;
  }

  & > img {
    width: 1.2rem;
    align-self: center;
    margin: 0 0.2rem 0 0.2rem;
  }

  & > a {
    word-wrap: normal;
  }
}
