[project]
name = "exo"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = []

[project.scripts]
hello = "exo:hello"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
